@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sohail Raza<br />
    Cambridgeshire, UK<br />
    <abbr title="Phone">P:</abbr>
    +447512570891 </br>
    <abbr title="Email">E:</abbr>
    <a href="mailto:sohail.raza.mail@gmail.com">sohail.raza.mail@gmail.com</a>
</address>