@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"   align-content: center;>
    <h1></h1>
    <p class="lead">
        <img src="~/Images/avatarSmall.png" width="300" height="300" class="center" /> <br>
        Welcome to the Data Capture app. Please navigate to the "Sign up" to begin using the application. <br />
        Alternatively, you can view current employees within the database.
    </p>
</div>